*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
	background-color: #f60046;
}

header{
	background-color: #323337;
}

header .Logo{
	margin: 0px;
	padding: 5px 5px;
}

header img{
	max-width: 51.2px;
	border-radius: 10px;
}

header a{
	text-decoration: none;
	font-weight: bold;
	padding: 5px 12px;
	margin: 0;
	color: #ffffff;
}

header a:hover{
	color: #f60046;
}

header .container{
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 0px;
}

.container{
	margin: auto;
	text-align: center;
}